@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<div class="email-left-box">

    @await Html.PartialAsync("SidebarContactPartial")

    @await Html.PartialAsync("SidebarContactCategoryPartial")

</div>

<div class="email-right-box">
    <div class="email-list m-t-15">
        @foreach (var item in Model)
        {
            <div class="message">
                <a href="/AdminContact/InboxRead/@item.ContactId">
                    <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                            <input type="checkbox" id="chk2">
                            <label class="toggle" for="chk2"></label>
                        </div><span class="star-toggle ti-star"></span>
                    </div>
                    <div class="col-mail col-mail-2">
                        <div class="subject">@item.ContactMessage</div>
                        <div class="date">@item.ContactDate.ToString("dd/MMM/yyyys")</div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>