
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="https://www.linkedin.com/in/sad%C4%B1k-berkay-karaduman-7407621a7/">SADIK BERKAY KARADUMAN</a> @DateTime.Now.Year</p>
    </div>
</div>