@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AdminDashboard/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/AdminStaff/Index/" aria-expanded="false">
                    <i class="icon-anchor menu-icon"></i><span class="nav-text">Staff</span>
                </a>
            </li>
            <li>
                <a href="/AdminTestimanial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Testimanial</span>
                </a>
            </li>
            <li>
                <a href="/AdminService/Index/" aria-expanded="false">
                    <i class="icon-like menu-icon"></i><span class="nav-text">Service</span>
                </a>
            </li>
            <li>
                <a href="/AdminBooking/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Booking</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Room</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Guest</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-rocket menu-icon"></i><span class="nav-text">About</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/AdminContact/Inbox/">Inbox</a></li>
                    <li><a href="/AdminContact/Sendbox/">Read</a></li>
                    <li><a href="/AdminContact/AddSendMessage/">Send Message</a></li>
                    <li><a href="/AdminMail/Index/">Send Mail</a></li>
                </ul>
            </li>
            <li>
                <a href="/AdminUser/Index/" aria-expanded="false">
                    <i class="icon-share menu-icon"></i><span class="nav-text">User</span>
                </a>
            </li>
            <li>
                <a href="/AdminRole/Index/" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Role</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoleAssign/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Role Assign</span>
                </a>
            </li>
            <li>
                <a href="/AdminSettings/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>