
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("_ShowcaseHeadComponentPartial")

<body>
    <div class="container-xxxl bg-white p-0">

        @await Component.InvokeAsync("_ShowcaseSpinnerComponentPartial")

        @await Component.InvokeAsync("_ShowcaseNavbarComponentPartial")

        @await Component.InvokeAsync("_AboutCarouselComponentPartial")

        @await Component.InvokeAsync("_ShowcaseBookingComponentPartial")

        @await Component.InvokeAsync("_ShowcaseAboutComponentPartial")

        @await Component.InvokeAsync("_ShowcaseTeamComponentPartial")

        @await Html.PartialAsync("/Views/Showcase/_ShowcaseSubscribes.cshtml")

        @await Component.InvokeAsync("_ShowcaseFooterComponentPartial")

    </div>

    @await Component.InvokeAsync("_ShowcaseScriptComponentPartial")

</body>

</html>
