@model GetRoomDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<label>Title</label>
<input type="text" asp-for="RoomTitle" class="form-control" />
<br />
<label>Icon</label>
<input type="text" asp-for="RoomNumber" class="form-control" />
<br />
<label>Price</label>
<input type="number" asp-for="RoomPrice" class="form-control" />
<label>Description</label>
<br />
<label>Bads</label>
<input type="text" asp-for="RoomBadCount" class="form-control" />
<label>Description</label>
<br />
<label>Baths</label>
<input type="text" asp-for="RoomBathCount" class="form-control" />
<label>Description</label>
<br />
<label>Wifi</label>
<input type="text" asp-for="RoomWifi" class="form-control" />
<label>Description</label>
<br />
<label>Image</label>
<input type="text" asp-for="RoomCoverImage" class="form-control" />
<label>Description</label>
<br />
<textarea type="text" asp-for="RoomDescription" class="form-control"></textarea>
<br />

